@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Revelia';
  src: url('assets/revelia.otf') format('opentype');
}

.figma-container:hover {
  cursor: url('assets/figma_cursor.svg'), auto;
}

.figma-selected {
  border: 2px solid #1157FF;
}